@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(34, 211, 238, 0.2) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(34, 211, 238, 0.2);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(34, 211, 238, 0.4);
}